<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Email Template</title>
    </head>

    <body style="font-family: Arial !important">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <table
                        width="700"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                        bgcolor="#FFFFFF"
                        align="center"
                        style="border: 1px solid #eee"
                    >
                        <tr>
                            <td>
                                <table
                                    width="100%"
                                    border="0"
                                    cellspacing="0"
                                    cellpadding="0"
                                    style="background: #fff"
                                >
                                    <tr>
                                        <td
                                            cellpadding="10"
                                            colspan="2"
                                            width="598"
                                            style="
                                                padding-left: 10px;
                                                text-align: center;
                                                padding: 20px;
                                                background: #ebe9e9;
                                            "
                                        >
                                            <a
                                                style="
                                                    color: #000;
                                                    padding: 5px;
                                                    font-weight: bold;
                                                "
                                                href="https://leaguecityconsulting.com/"
                                                target="_blank"
                                            >
                                                <img
                                                    src="https://leaguecityconsulting.com/includes-frontend/images/logo-black.webp"
                                                    width="200px"
                                                />
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td
                                            cellpadding="10"
                                            colspan="2"
                                            align="center"
                                            width="598"
                                            style="
                                                text-align: center;
                                                padding: 20px 0 10px 0;
                                                background: #3086c1;
                                            "
                                        >
                                            <font
                                                style="
                                                    color: #ffffff;
                                                    font-size: 18px;
                                                "
                                            >
                                                <strong>%title%</strong> </font
                                            ><br /><br />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table
                                    width="100%"
                                    border="0"
                                    cellspacing="0"
                                    cellpadding="0"
                                    style="float: left; text-align: start"
                                >
                                    <tr>
                                        <td width="5%">&nbsp;</td>
                                        <td
                                            width="80%"
                                            style="padding: 30px 0px"
                                        >
                                            <font
                                                style="
                                                    color: #010101;
                                                    font-size: 14px;
                                                "
                                                >%content%</font
                                            >
                                            <br />
                                        </td>
                                        <td width="10%">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table
                                    width="100%"
                                    border="0"
                                    cellspacing="0"
                                    cellpadding="0"
                                >
                                    <tr>
                                        <td
                                            cellpadding="10"
                                            colspan="2"
                                            align="center"
                                            width="598"
                                            style="
                                                padding-left: 10px;
                                                text-align: center;
                                                padding: 10px;
                                                background: #44c09b;
                                            "
                                        >
                                            <a
                                                style="
                                                    color: #000;
                                                    padding: 5px;
                                                    font-weight: bold;
                                                "
                                                href="https://www.facebook.com/leaguecityconsulting"
                                                target="_blank"
                                                ><img
                                                    src="https://www.secondmedic.com/app/asset/site_images/logo/facebook.png"
                                                />
                                            </a>

                                            <a
                                                style="
                                                    color: #000;
                                                    padding: 5px;
                                                    font-weight: bold;
                                                "
                                                href="https://www.instagram.com/leaguecityconsulting/"
                                                target="_blank"
                                                ><img
                                                    src="https://www.secondmedic.com/app/asset/site_images/logo/instag.png"
                                                />
                                            </a>

                                            <!-- <a style="color:#000;padding:5px;font-weight:bold;"
                                            href="https://twitter.com/Secondmedic" target="_blank"><img
                                                src="https://www.secondmedic.com/app/asset/site_images/logo/twiter.png" />
                                        </a> -->

                                            <a
                                                style="
                                                    color: #000;
                                                    padding: 5px;
                                                    font-weight: bold;
                                                "
                                                href="https://www.linkedin.com/company/league-city-consulting"
                                                target="_blank"
                                                ><img
                                                    src="https://www.secondmedic.com/app/asset/site_images/logo/link.png"
                                                />
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
